# Load .config.env
source .config.env

export SOPS_AGE_KEY_FILE=~/.config/sops/age/K3s-Flux.agekey
export SOPS_AGE_RECIPIENTS=$BOOTSTRAP_AGE_PUBLIC_KEY

export ANSIBLE_CONFIG=$(expand_path ./ansible.cfg)
export KUBECONFIG=$(expand_path ./provision/kubeconfig)
export VAGRANT_CWD=$(expand_path ./provision/vagrant)
export YAMLLINT_CONFIG_FILE=$(expand_path ./.gitlab/linters/.yamllint.yaml)

export AQUA_PROGRESS_BAR=true
if command -v aqua &> /dev/null; then source <(aqua completion bash); fi

PATH_add "$(expand_path ~/.krew/bin)"

export HELM_EXPERIMENTAL_OCI=1


#############################################################################################################
#############################################################################################################
#############################################################################################################
mkdir -p $(expand_path ./.bash_completion/)

poetry completions bash > $(expand_path ./.bash_completion/poetry.bash-completion)

flux completion bash > $(expand_path ./.bash_completion/flux.bash-completion)

kubectl completion bash > $(expand_path ./.bash_completion/kubectl.bash-completion)
kustomize completion bash > $(expand_path ./.bash_completion/kustomize.bash-completion)
kubectl-cnpg completion bash > $(expand_path ./.bash_completion/kubectl-cnpg.bash-completion)
kubectl-deprecations completion bash > $(expand_path ./.bash_completion/kubectl-deprecations.bash-completion)
kubectl-hns completion bash > $(expand_path ./.bash_completion/kubectl-hns.bash-completion)
kubectl-kyverno completion bash > $(expand_path ./.bash_completion/kubectl-kyverno.bash-completion)
gitleaks completion bash > $(expand_path ./.bash_completion/gitleaks.bash-completion)
#############################################################################################################
#############################################################################################################
#############################################################################################################

alias kgp="kubectl get pods"
alias kgn="kubectl get nodes"
alias kga="kubectl get all -A"
alias fpods="kubectl get pods -A -o wide | grep -v 1/1 | grep -v 2/2 | grep -v 3/3 | grep -v 4/4 | grep -v 5/5 | grep -v 6/6 | grep -v 7/7 | grep -v Completed"
