# Load .config.env
source .config.env

export YAMLLINT_CONFIG_FILE=$(expand_path ./.gitlab/linters/.yamllint.yaml)

export SOPS_AGE_KEY_FILE=~/.config/sops/age/K3s-Flux.agekey
export SOPS_AGE_RECIPIENTS=$BOOTSTRAP_AGE_PUBLIC_KEY

export KUBECONFIG=$(expand_path ./provision/kubeconfig)

export VAGRANT_CWD=$(expand_path ./provision/vagrant)

export PATH="${PATH}:${HOME}/.krew/bin"

export HELM_EXPERIMENTAL_OCI=1

source <(poetry completions bash)

source <(flux completion bash)
# source <(gitops completion bash)

# source <(kubectl completion bash)
# source <(kustomize completion bash)
# source <(kubectl-cnpg completion bash)
# source <(kubectl-deprecations completion bash)
# source <(kubectl-hns completion bash)
# source <(kubectl-krew completion bash)
# source <(kubectl-kyverno completion bash)
#
# source <(gitleaks completion bash)

alias kgp="kubectl get pods"
alias kgn="kubectl get nodes"
alias kga="kubectl get all -A"
alias fpods="kubectl get pods -A -o wide | grep -v 1/1 | grep -v 2/2 | grep -v 3/3 | grep -v 4/4 | grep -v 5/5 | grep -v 6/6 | grep -v 7/7 | grep -v Completed"
