# Load .config.env
source .config.env

export YAMLLINT_CONFIG_FILE=.gitlab/linters/.yamllint.yaml

export SOPS_AGE_KEY_FILE=~/.config/sops/age/K3s-Flux.agekey
export SOPS_AGE_RECIPIENTS=$BOOTSTRAP_AGE_PUBLIC_KEY

export KUBECONFIG=provision/kubeconfig

export VAGRANT_CWD=provision/vagrant

export PATH="${PATH}:${HOME}/.krew/bin"

export HELM_EXPERIMENTAL_OCI=1

source <(flux completion bash)
source <(gitops completion bash)

source <(kubectl completion bash)
source <(kustomize completion bash)
source <(kubectl-cnpg completion bash)
source <(kubectl-deprecations completion bash)
source <(kubectl-hns completion bash)
source <(kubectl-krew completion bash)

source <(gitleaks completion bash)
