[tool.poetry]
name = "k3s-flux"
version = "0.1.0"
description = ""
authors = ["Alexandre Mechineau <git@alexsaphir.com>"]
readme = "README.md"
package-mode = false


[tool.poetry.dependencies]
python = ">=3.12.3,<3.13"
pre-commit = "^3.7.1"

prettier = "^0.0.7"
yamllint = "^1.35.1"

[tool.poetry.group.ansible.dependencies]
ansible = "^10.0.0"
ansible-inventory-grapher = "^2.5.0"

jmespath = "^1.0.1"
netaddr = "^1.3.0"

[tool.poetry.group.ci.dependencies]
flux-local = "^5.3.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
