---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-monitoring
resources:
  - postgres.yaml
  - rbac.yaml
  - helm-release.yaml

configMapGenerator:
  - name: gatus-configmap
    files:
      - config.yaml=resources/config.yaml

generatorOptions:
  disableNameSuffixHash: true
