---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-infra-traefik
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 5m
  prune: true
  wait: true

  dependsOn:
    - name: cluster-infra-kube-prometheus-stack-crds
    - name: cluster-infra-kyverno-policies
    - name: cluster-infra-cert-manager-certificates
    - name: cluster-infra-authelia

  path: ./cluster/infra/networking/traefik/app
  sourceRef:
    kind: GitRepository
    name: flux-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-infra-traefik-addons
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 5m
  prune: true

  dependsOn:
    - name: cluster-infra-traefik

  path: ./cluster/infra/networking/traefik/addons
  sourceRef:
    kind: GitRepository
    name: flux-system

---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-infra-traefik-error-pages
  namespace: flux-system
spec:
  interval: 10m
  retryInterval: 5m
  prune: true

  dependsOn:
    - name: cluster-infra-traefik

  path: ./cluster/infra/networking/traefik/error-pages
  sourceRef:
    kind: GitRepository
    name: flux-system
