---
apiVersion: v1
kind: Service
metadata:
  name: postgres-lb
  annotations:
    metallb.universe.tf/loadBalancerIPs: ${LB_POSTGRES}
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: postgres
    role: primary
