source_up

RAW_PG_CONN_STR="$(
  kubectl get secret -n flux-system database-tofu \
    -o jsonpath='{.data.POSTGRES_URL}' \
  | base64 --decode
)"

# Build postgres URI for external access
export PG_CONN_STR="$(
  printf '%s\n' "$RAW_PG_CONN_STR" \
    | sed 's/postgres-rw\.database\.svc\.cluster\.local/postgres.svc.talos.alexsaphir.com/'
)"

# Extract bitwarden secret store configuration
dir_store=../cluster/infra/external-secrets/external-secrets/bitwarden-secret/cluster-secret-store.yaml
export TF_VAR_access_token=$BWS_ACCESS_TOKEN
export TF_VAR_organization_id=$(yq '.spec.provider.bitwardensecretsmanager.organizationID | select(. != null)' < $dir_store)
export TF_VAR_project_id=$(yq '.spec.provider.bitwardensecretsmanager.projectID | select(. != null)' < $dir_store)
