---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  # renovate: datasource=github-releases depName=k3s-io/k3s
  K3S_VERSION: "v1.27.4+k3s1"

  TIMEZONE: 'Europe/Paris'

  CONFIG_WEBHOOK_SPACE: '192.168.0.0/24'

  CLUSTER_CIDR: '10.42.0.0/16'
  SERVICE_CIDR: '10.43.0.0/16'
  NODE_CIDR: '192.168.0.0/24'

  KUBE_VIP_ADDR: '192.168.0.251'

  METALLB_LB_IP_RANGE: '192.168.0.200-192.168.0.250'

  LB_NGINX_ADDR: '192.168.0.241'
  LB_TRAEFIK_ADDR: '192.168.0.242'
  LB_K8S_GATEWAY_ADDR: '192.168.0.244'
  LB_POSTGRES: '192.168.0.200'
  LB_PY_KMS: '192.168.0.210'
  LB_JUPYTER: '192.168.0.230'

  # `letsencrypt-production` or `letsencrypt-staging`
  CONFIG_CERTIFICATE_ISSUER: 'letsencrypt-production'

  CONFIG_NFS_SERVER_IP_ADDRESS: '192.168.0.56'
  CONFIG_NFS_SERVER_PATH: '/NFS'
